@model WardrobeMVC.Models.Charachter

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Charachter</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CharachterName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CharachterName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Photo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CharachterID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
